<% provide(:title, 'Admission') %>
<div class="container">
	<div class="breadcumb">
		<li><%=link_to "Home",root_path%> | Admission</li>
	</div
	<div class="row">
		<div class="jumbotron">
			<div class="span8">
				<div class="container">
					<div class="wow bounceInRight">
						<h1>Suleyman Demirel College</h1>
					</div>
					<div class="wow bounceInLeft">
						<img src="/assets/image.jpg">
					</div>
				</div>
			</div>
			<div class="span4 tekst">
				<p class=" wow bounceInUp" data-wow-delay="0.5s">
					2011 жылы алғашқы оқушыларын қабылдаған Сүлейман Демирел атындағы колледждің  құрылтайшысы -  «КАТЕV» Халықаралық қоғамдық қоры болып табылады. Аталған қордың қарамағында Республикамыздың бүкіл аймағында орналасқан 34 қазақ-түрік лицейлері, Тараздағы экономикалық колледж, СДУ.
				</p>
			</div>
		</div>
	</div>
</div>
<div class="sec">
	<div class="container">
		<h3>Колледжді ашудың негізгі мақсаты </h3>
		<p>Негізгі орта білімі бар Қазақстан Республикасының азаматтарына  сапалы білім және тәрбие беру.<br>
			Колледж төменде көрсетілген жеті мамандық бойынша оқушыларды қабылдады:<br>
			1.               0516000 –«Қаржы» (салалар бойынша)<br>
			2.               0515000 – «Менеджмент» (салалар бойынша)<br>
			3.               0518000 – «Есеп және аудит» (салалар бойынша)<br>
			4.               0513000 – «Маркетинг» (салалар бойынша)<br>
			5.               0519000 – «Экономика» (салалар бойынша)<br>
			6.               0512000 – «Аударма ісі»<br>
			7.               1304000 – «Есептеу техникасы және бағдарламалық қамтамасыздандыру<br>
			Колледждің ерекшелігі - көптілділікті оқытуды жетілдіру, тілдердің үштұғырлығын (қазақ, орыс, ағылшын тілдерін) дамыту мақсатында аталған мамандықтар бойынша жалпы кәсіптік және арнайы пәндерді ағылшын тілінде оқытуды көздеген.  Сонымен бірге бауырлас түрік тілін де үйретуде.
			Болашақта өз түлектерін Назарбаев Университетінде, Сүлейман Демирел атындағы университетінде, т.б. отандық немесе шетелдегі жоғары оқу орындарында оқуларын жалғастыруға мүмкіндік туғызуға дайын оқытушылары аянбай еңбек етуде.  Бұған дәлел – оқытушылардың арасында «Болашақ» Президенттік бағдарламамен оқыған, шетелде университеттер мен магистратураны бітіргендер.  Оқытушылар құрамындағы докторанттар да ғылым мен тәжірибені байланыстырып дәріс беруде. Колледждің педагогикалық ұжымы Сулейман Демирел атындағы университетімен, North American University(NAU)мен тығыз ғылыми және шығармашылық байланыс жасайды.
			
		2012 жылы 20 маусымнан бастап оқушылардың құжаттары оқуға қабылдау үлгі ережелеріне сәйкес қабылданады</p>
	</div>
</div>