
<%= form_for([@subject, @assignment],:html=>{:multipart=>true}) do |f| %>
<div class="form-group">
    <%= f.text_field :content, :placeholder => "Title of the assignment" %>
</div>
<div class="form-group">
  <%= f.file_field :attachment%>
  </div>
    <%= f.submit " Submit", class: "btn" %>
<% end %>
