<div class="signup">
	<div class="span6">
		<% provide(:title, 'New Assignment') %>
		<div class="tab-panel">
			<div class="legend">New Assignment</div>
			<p>Enter new assignment details below:</p>
			<%= render 'form' %>
		</div>
	</div>
</div>