<div class="signup">
	<div class="span6">
		<% provide(:title, 'New Group') %>
		<div class="tab-panel">
			<div class="legend">New Group</div>
			<p id="new-group">Enter new group details below:</p>
			<%= render 'form' %>
		</div>
	</div>
</div>