<div class="signup">
	<div class="span6">
		<% provide(:title, 'Sign up') %>
		<div class="tab-panel">
			<div class="legend">Sign Up</div>
			<p id="new-user">Enter your personal details below:</p>
			<img id="uploadPreview" style="width: 90%;" />
			<%= render 'form' %>
		</div>
	</div>
</div>