<%@titles=@user.name+" "+@user.surname%>
<% provide(:title,@titles) %>
<div class="row">
  <div class="span6">
    <%=image_tag @user.avatar.url,alt:@user.name %>
    <h4><%=@user.name+" "+@user.surname%></h4>
    <hr>
    <p style="margin-top: -15px;">Contact information:</p>
    <hr>
    <h5 style="font-weight:lighter">mail: <%=@user.email%></h5>
    <hr>
    <h5 style="font-weight:lighter">group: <%=@user.group.name%></h5>
    <hr style="float: left;width: 460px;margin-top: 20px;">
  </div>
  <div class="span6">
  
    </div>
</div>