<div class="signup">
	<div class="span6">
		<% provide(:title, 'New News') %>
		<div class="tab-panel">
			<div class="legend">New News</div>
			<p id="new-news">Enter new news details below:</p>
			<img id="uploadPreview" style="width: 90%;" />
			<%= render 'form' %>
		</div>
	</div>
</div>