<div class="signup">
	<div class="span6">
		<% provide(:title, 'New Subject') %>
		<div class="tab-panel">
			<div class="legend">New Subject</div>
			<p>Enter new subject details below:</p>
			<%= render 'form' %>
		</div>
	</div>
</div>