@import "bootstrap";

body{
 font-weight: lighter;
 font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height:26px;
}
.container{
 width:980px; 
}
.nav{
  height:60px;
  background-color:#474747;
}
.nav li{
  display:inline;
  padding-right:10px;
}
.nav a:hover{
  text-decoration:none;
  color:#B0B0B0;
}
.nav a{
  color:#fff;
  font-size: 13px;
  text-transform: uppercase;
}
.nav ul{
   padding-top:20px;
}
.footer{
   height:80px;
  background-color:#474747;
  
}
#profile{
  background-color:#fff;
  border-radius:10px;
  height:131px;
  -webkit-box-shadow: 0px 1px 25px 0px rgba(50, 50, 38, 0.72);
-moz-box-shadow:    0px 1px 25px 0px rgba(50, 50, 38, 0.72);
box-shadow:         0px 1px 25px 0px rgba(50, 50, 38, 0.72);
}
#profile h3{
   font-weight: lighter;
   font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
   padding-left:120px;
   padding-top:30px;
 }
#profile p{
  font-weight: lighter;
 font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.span6 img{
  border-radius:10px;
  margin-top:10px;
  margin-left:10px;
  float:left;
}
.span2{
  padding-top:30px;
}
.span2 h4{
  margin-bottom:5px;
}
.subjects .row h3{
   font-weight: lighter;
 font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding-top:20px;
}
.subjects .span2{
  margin-left:0px;
  margin-right:15px;
}

.subjects a{
  text-decoration:none;
  font-size:20px;
 font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  
}
.homeworks .row h3{
   font-weight: lighter;
 font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding-left:20px;
  padding-top:20px;
  float:left;
}
#profile button{
  margin-left: 17px;
  
}
#profile button a{
  color:#fff;
  text-decoration:none;
}
.content {
  display: block;
}
.jumbotron img{
  width:550px;
  border-radius:20px;
}
.jumbotron h1{
  font-weight: lighter;
 font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.table{
  font-weight:normal;
  margin-left: 21px;
}
tr a{
  display:block;
}
.btn-info{
  margin-left: 21px;
}
.img-circle{
  width:85px;
}
.subname{
  margin-right: 207px;
  border-bottom:1px solid #474747;
}
.list-group a:first-child{
  margin-right: 0px;
}
